:root {
  --black-color: #121723;
  --text-color: #c73d7e;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  padding: 15px;
}
.header {
  max-width: 1920px;
  background-color: aquamarine;
  height: 60px;
  padding: 15px;
  margin-bottom: 30px;
}
.main {
  background-color: grey;
  padding: 30px;
}
.hero {
  background-color: blanchedalmond;
  padding: 15px;
}
.nav__list,
.hero__list{
  width: 100%;
  justify-content: space-between;
}
.input__calculation {
  width: 100%;
}
.hero__form {
  width: 100%;
}
.hero__item {
  width: 50%;
}
.form__input {
  width: 50%;
  margin-bottom: 10px;
}
.text{
  color: var(--text-color);
}

/* js элементы  */
.result-div {
  width: 50%;
}
.hero__subtitle {
  font-size: 36px;
  color: var(--black-color);
}
.hero__text__pay {
  color: black;
}

/* Таблица  */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f0f0f0;
}