:root {
  --ligth_white-color: #FBFBFB;
  --ligth_gray-color: #f5f5f5;
  --ligth_gray_border-color: #bcbbbb;
  --black-color: #121723;
  --text-color: #c73d7e;
  --hover-color: #6c2952;
  --active-color: #6c295254;



  --font-Regular: 'ZenKurenaido-Regular', fallback, sans-serif;


}

@font-face {
  font-family: 'ZenKurenaido-Regular';
  src: local('ZenKurenaido-Regular'), local('ZenKurenaido-Regular'),
    url('../font/ZenKurenaido-Regular.woff2') format('woff2'),
    url('../font/ZenKurenaido-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}




html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  width: fit-content;
  font-family: var(--font-Regular);
}

body {
  font-family: var(--font-Regular);
  font-size: 22px;
  overflow-x: hidden;
}

section {
  margin-bottom: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

h2 {
  font-size: 24px;
}

.text {
  font-size: 16px;
  color: var(--black-color);
}

.btn {
  padding: 10px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 35px hsla(0, 0%, 9%, 0.3);
}

.btn:focus {
  box-shadow: 0 0 35px hsla(0, 0%, 9%, 0.3);
  background-color: var(--ligth_white-color);
  color: var(--black-color);
}

.btn:active {
  box-shadow: none;
  background-color: var(--ligth_white-color);
  color: var(--black-color);
}

/* header */
.header__container {
  padding: 0px 20px;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header {
  background-color: var(--ligth_white-color);
  box-shadow: 0 5px 57px 0 rgba(0, 0, 0, 0.1);
  height: 85px;
  margin-bottom: 20px;
  padding: 30px 0;
}

.logo {
  margin-bottom: 20px;
  margin-right: auto;
  transition: all .3s ease-in-out;
}

.logo__svg {
  width: 60px;
  height: 40px;
  fill: var(--black-color);
}

.header__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 5px;
  right: 23px;

}

.header__nav {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.nav__item {
  padding: 10px;
}
.nav__list {
  padding: 0 15px;
  width: 420px;
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: none;
}

.nav__link {
  font-size: 16px;
  outline: none;
  transition: all .3s ease-in-out;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__link:focus {
  outline: 1px solid var(--hover-color);
  color: var(--text-color);
}

.nav__link:active {
  color: var(--active-color);
}




.main {
  background-color: var(--ligth_white-color);
  padding: 0 20px;
}

/* hero */
.hero__container {
  margin-bottom: 40px;
}

.hero__picture {
  width: 48%;
}

.hero__img {
  display: none;
}

.hero__title {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.hero__title__span {
  font-size: 50px;
  transition: all 0.4s ease-in-out;
}

.sp__2 {
  padding-left: 50px;
}

.sp__3 {
  padding-right: 100px;
}

.hero__list {
  align-items: baseline;
  gap: 55px;
  width: 100%;
  justify-content: center;
}

.hero__item {
  position: relative;
  border: 5px solid black;
  padding: 34px 40px 30px 20px;
  max-width: 255px;
  height: 220px;

  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.hero__text {
  height: 155px;
  overflow: scroll;
  transition: all 0.3s ease-in-out;
}

.hero__subtitle {
  margin-bottom: 10px;
  max-width: 175px;
  transition: all 0.3s ease-in-out;

}

.hero__icon {
  position: absolute;
  right: 40px;
  top: 30px;
  fill: var(--black-color);
  transition: all 0.3s ease-in-out;

}

/* calc */

.calc {
  box-shadow: 1px 24px 24px -2px rgba(0, 0, 0, 0.1);
}

.calc__container {
  background-color: var(--ligth_gray-color);
  padding: 10px 15px;
  border-bottom: 1px solid var(--ligth_gray_border-color);
}

.calc__nav {
  font-weight: 700;
  font-size: 20px;
  padding: 0 0 20px 0;
  ;
  border-bottom: 1px solid var(--ligth_gray_border-color);
}



.calc__item {
  width: 50%;
}


.text {
  color: var(--black-color);
}

/* form */
.form {
  padding: 0 0 15px 0;
}

.form__container {
  width: 80%;
  padding: 15px 0;
  background-color: var(--ligth_gray-color);
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
}

.form__input {
  width: 100%;
  max-width: 340px;
  margin-bottom: 10px;

}

.form__text {
  margin-bottom: 10px;
}

.input__form__calc {
  width: 190px;
  border-radius: 8px;
  padding: 2px 7px;
  transition: all .3s ease-in-out;
  outline: none;
}

.calc__input {
  position: relative;
  outline: none;
  transition: all .3s ease-in-out;
}

.calc__input:hover {
  box-shadow: 0 0 35px hsla(0, 0%, 9%, 0.3);
}

.input__svg {
  position: absolute;
  width: 23px;
  height: 22px;
  right: 2px;
  top: 4px;
  fill: var(--black-color);
  transition: .25s;
}

.form__subtitle {
  margin-bottom: 10px;
}

.input__div {
  justify-content: space-between;
  margin-bottom: 8px;
}



/* footer */
.footer {
  background-color: var(--black-color);

}

.footer__container {
  padding: 20px;
}

.footer__text {
  color: var(--ligth_gray-color);
  margin-bottom: 10px;
}
.footer__text__none {
  color: var(--ligth_gray-color);
  font-size: 13px;
}
.footer__box {
  color: var(--ligth_gray-color);
  margin-right: auto;
  margin-bottom: 40px;
}

.footer__subtitle {
  margin-bottom: 10px;
}

.footer__social__svg {
  fill: var(--ligth_gray-color);
  transition: all .3s ease-in-out;
}

.footer__list__icon {
  gap: 40px;
}

.footer__social1:hover svg {
  fill: var(--text-color);
}

.footer__subtitle__box {
  display: flex;
  gap: 20px;
}

.footer__svg {
  fill: var(--ligth_gray-color);
}

.footer__text__item {
  color: var(--ligth_white-color);
  display: none;
  transition: all .3s ease-in-out;
  margin-bottom: 10px;
}
.footer__subtitle__item {
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.footer__link {
  display: flex;
  align-items: baseline;
  transition: all .3s ease-in-out;
  position: relative;
}
.footer__link__svg {
  width: 15px;
  height: 15px;
  fill: var(--ligth_gray-color);
  transition: all .3s ease-in-out;
}
.footer__link:hover {
  color: var(--text-color);
}
.footer__link:hover .footer__link__svg {
  fill: var(--text-color);
  margin-left: 10px;
}

.footer__item > h3:focus + .footer__text__item {
  display: block;
}



/* ---------------------------------------------- */

/* js элементы  */
.result-div {
  width: 100%;
  margin-bottom: 20px;
}

.text__table {
  margin-bottom: 20px;
}

.calc__subtitle {
  font-size: 20px;
  color: var(--black-color);
  margin-bottom: 10px;
}

.result-div-container {
  flex-direction: column;
}

.result__div__pay,
.result-div-container,
.table {
  background-color: var(--ligth_gray-color);
  padding: 10px 15px;
}

.result__div__pay:last-child {
  padding-bottom: 45px;
}

.calc__text__pay {
  color: var(--black-color);
}

.result__div__pay {
  overflow-x: scroll;
}

/* Таблица  */
.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;

}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f0f0f0;
}